<div class="panel panel-default" ng-init="getBookedResturant()">
  <div class="panel-heading">
    <h3 class="panel-title">View All your Bookings and provide Reviews</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="booked in resturant">
    		<div class="col-md-6">
    			<div class="col-md-6">
                    <h4>Resturant name&nbsp;&nbsp;</h4><p>{{booked.name}}</p>
                    <h4>Cuisines</h4><p>{{booked.cuisines}}</p>
                    <a href="{{booked.webiste}}">Resturant Website</a>
                    <h4>Location&nbsp;&nbsp;</h4><p>{{booked.location}}</p>
                    <h4>Cost for Two&nbsp;&nbsp;</h4><p>{{booked.cost}}<p> 
                     <h4>CheckInDate</h4><p>{{booked.checkinDate}}</p>
        		</div>
            <div class="col-md-6">
    				<img class="thumbnail" src="{{booked.image_url}}">
    			</div>
    		</div>
            <br>
            <br>
            <h4>Resturant Reviews</h4>
            <br>
    <div id='dv1'>
            <form ng-controller="bookedController">
                Post your Comment
                <form ng-controller="bookedController">
                    <textarea ng-model="txtcomment" placeholder="Your Comment" style='width:550px'></textarea>
                    <button ng-click='btn_add();' style='margin-top:10px;'>Post Comment</button>

                    <h4>Comments</h4>
                    <ul>
                        <li ng-repeat="comnt in comment"> {{ comnt }} <a  style="float: right;" href="" ng-click="remItem($index)">x</a></li>
                    </ul>
                </form> 
        </form>
        </div>
            </div>
            <br>
            <br>
        </div>
      </div>
</div>